<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcss.com/bulma/0.6.1/css/bulma.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/app.css">
    <title>Document</title>
</head>
<body>
    <!-- 主导航栏 -->
    <div class="navbar has-shadow">
    <div class="container">
        <div class="navbar-menu">
        <div class="navbar-start">
            <a href="/allQuestions" class="navbar-item">首页</a>
            <a href="/myQuestions" class="navbar-item">我的</a>
            <a href="/index" class="navbar-item">Master</a>
            <div class="navbar-item">
                <div class="field is-grouped">
                    <div class="control has-icons-right">
                    <input type="text" class="input " id="search_term" style="width: 20rem;" placeholder="搜索你感兴趣的内容...">
                    <span class="icon is-right">
                    <i class="fa fa-search"></i>
                    </span>
                    </div>
                    <div class="control">
                    <input type="submit" class="button is-info" id="search" value="搜索">
                    </div>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <!-- 消息 -->
            <a href="#" class="navbar-item">
            <i class="fa fa-15 fa-bell"></i>
            </a>
            <!-- 私信 -->
            <a href="#" class="navbar-item">
            <i class="fa fa-15 fa-comments"></i>
            </a>
            <!-- 个人简介 -->
            <a href="/myInformation" class="navbar-item">
            <!-- <img src="" alt="用户头像"> -->
            <i class="fa fa-15 fa-solid fa-user"></i>
            </a>
        </div>
        </div>
    </div>
    </div>
    <div class="navbar has-shadow" style="position: relative; top: 1px;">
        <div class="container">
            <div class="navbar-tabs">
                <a href="/myQuestions" class="navbar-item is-tab ">我的问题</a>
                <a href="/myArticals" class="navbar-item is-tab">我的文章</a>
                <a href="/myAnswers" class="navbar-item is-tab">我的回答</a>
                <a href="#" class="navbar-item is-tab">其它</a>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="tile">
                <!-- 文章列表 -->
                <div class="tile is-vertical is-parent ">
                    <div class="box">
                        <div class="media">
                            <div class="media-content">
                            <div class="content">
                                <p><strong>文章</strong></p>
                                <p><strong>Master:</strong>打开你的浏览器</p>
                                <p>
                                <a class="tag is-medium is-lightblue has-addons">
                                    <i class="fa fa-caret-up"></i>
                                    <span class="icon is-medium">0</span>
                                </a>
                                <a class="tag is-medium is-lightblue">
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <a href="#" class="ml-10">
                                    <i class="fa fa-comment"></i>
                                    <span>0条回答</span>
                                </a>
                                </p>
                            </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-content">
                            <div class="content">
                                <p><strong>文章</strong></p>
                                <p><strong>Master:</strong>问知乎</p>
                                <p>
                                <a class="tag is-medium is-lightblue has-addons">
                                    <i class="fa fa-caret-up"></i>
                                    <span class="icon is-medium">0</span>
                                </a>
                                <a class="tag is-medium is-lightblue">
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                </p>
                            </div>
                            </div>
                        </div>
                        {%for artical in articals%}
                        <div class="media show_arti_detail">
                            <div class="media-content">
                            <div class="content ">
                                <!-- 把删除文章功能隐藏 -->
                                <p><strong >{{artical.Articals.文章名称}}</strong><span class="tag is-gray delArtical" style="display: none;" data-arti_id={{artical.Articals.文章ID}}>-</span></p>
                                
                                <p><strong>{{artical.Users.用户名}}:</strong></p>
                                
                                <p>
                                    <a class="tag is-medium is-lightblue has-addons">
                                        <i class="fa fa-caret-up"></i>
                                        <span class="icon is-medium u_yes_number" data-arti_id={{artical.Articals.文章ID}}>{{artical.Articals.赞同数}}</span>
                                    </a>
                                    <a class="tag is-medium is-lightblue d_yes_number" data-arti_id={{artical.Articals.文章ID}}>
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    {{artical.Articals.创作时间}}
                                </a>
                                </p>
                            </div>
                            </div>
                        </div>
                        <!-- 文章详细内容 -->
                        <div class="media arti_detail" style="display:none;">
                            <div class="media-content">
                            <div class="content ">
                                <p>
                                    &emsp;&emsp;{{artical.Articals.文章内容}}
                                </p>
                            </div>
                            </div>
                            <br>
                        </div>
                        {%endfor%}
                    </div>
                    
                </div>
                <!-- 问题列表 -->
                <div class="tile is-vertical is-parent">
                    <div class="box">
                        <div class="media">
                            <div class="media-content">
                            <div class="content">
                                <p><strong>问题</strong></p>
                                <p><strong>Master:</strong>打开你的浏览器</p>
                                <p>
                                <a class="tag is-medium is-lightblue has-addons">
                                    <i class="fa fa-caret-up"></i>
                                    <span class="icon is-medium">0</span>
                                </a>
                                <a class="tag is-medium is-lightblue">
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <a href="#" class="ml-10">
                                    <i class="fa fa-comment"></i>
                                    <span>0条回答</span>
                                </a>
                                </p>
                            </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-content">
                            <div class="content">
                                <p><strong>问题</strong></p>
                                <p><strong>Master:</strong>问知乎</p>
                                <p>
                                <a class="tag is-medium is-lightblue has-addons">
                                    <i class="fa fa-caret-up"></i>
                                    <span class="icon is-medium">0</span>
                                </a>
                                <a class="tag is-medium is-lightblue">
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                </p>
                            </div>
                            </div>
                        </div>
                        {%for question in questions%}
                        <div class="media">
                            <div class="media-content">
                            <div class="content">
                                <p><strong >{{question.Questions.问题名称}}</strong><span class="tag is-gray delQuestion" data-ques_id={{question.Questions.问题ID}}>-</span></p>
                                <!-- 显示答案 -->
                                <p><strong>{{question.Users.用户名}}:</strong></p>
                                
                                <p>
                                    {{question.Questions.提问时间}}
                                <a class="ml-10 show_answers" id="show_answers" data-ques_id={{question.Questions.问题ID}}>
                                    <i class="fa fa-comment"></i>
                                    <span>{{question.Questions.回答数量}}条回答</span>
                                </a>
                                </p>
                            </div>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>

<!-- #引入Jquery -->
<script src="../static/jquery-1.12.4.min.js"></script>
<script>


    // 开始写 jQuery 代码...
    $(function(){
        // 页面中元素的 id 应该是唯一的，所以您要在页面中选取唯一的元素需要通过 #id 选择器。
        $(".show_arti_detail").click(function(){
            $(".arti_detail").toggle();
        });


        $(".show_answers").click(function(){
            alert("跳转到问题解答");
            var data = {
                    'c':"0",
                    // c用来调试
                    "ques_id":$(this).data('ques_id')
                }
            var ques_id= $(this).data('ques_id');
            // 锁定当前标签
            $.ajax({
                url: "/showAnswers/"+ques_id,
                type: "get",
                
                success: function (response) {
                    console.log(response);
                    // alert(data);
                    window.location.replace('/showAnswers/'+ques_id); 
                },
                error: function(error) {
                    console.log(error);
                }
            })

            
        });

        $("#search").click(function(){
            alert("跳转到全局搜索");
            var search_term = $("#search_term").val();
            var data = {
                    "search_term":search_term
                }
                
            
            // 锁定当前标签
            $.ajax({
                url: "/showSearch/"+search_term,
                type: "get",
                success: function (response) {
                    console.log(response);
                    // alert(data);
                    window.location.replace('/showSearch/'+search_term); 
                },
                error: function(error) {
                    console.log(error);
                }
            })
        });



        $(".u_yes_number").click(function(){
            alert("同意！");
            var data = {
                "arti_id":$(this).data('arti_id')
                }
            
        });
        $(".d_yes_number").click(function(){
            alert("反对！");
            var data = {
                "arti_id":$(this).data('arti_id')
                }
            
        });


        });




</script>









