<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知否测试</title>
    <style>
        div{
            height: 80px;
            width: 80px;
            background-color: #3fd4d7;
            margin: 0 auto;
            text-align: center;
        }
        



    </style>
<head>
<body>
    <div>
        <form method="GET" action="">
            <input class="bu" name="选择" type="submit" value="查询">
        </form>
        <form method="post" action="">
            <input class="bu" name="选择" type="submit" value="插入">
        </form>
    </div>

</body>